<body>
    <form action="">
        <div class="container">
            <div class="heading">
                <h1>Update Details</h1>
                <div style="background-color: black; width: 70%; height: 1.5px;margin: 10px 0px 0px 25px;" class="extra1">
                    <img src="" alt=""></div><br>
            </div>
    
            <div class="getdata">
                <div class="id">
                    <label for="id1">ID : </label>
                    <input type="text" placeholder="PID">
                </div>
                <div class="id1">
                    <label for="date">New Reliving Date : </label>
                    <input type="text" placeholder="date">
                </div>
                
            </div>
            <div class="btn">
                <button>Submit</button>
            </div>
        </div>
    </form>
    <div style="background-color: black; width: 100%; height: 1.5px;margin: 40px 0px 0px 0px;" class="extra1"></div>
    <div class="bottom">
        <div class="left">
            <h3>PID : </h3>
            <h3>First Name : </h3>
            <h3>Last Name : </h3>
            <h3>Gender: </h3>
            <h3>Age : </h3>
            <h3>Crime Committed : </h3>
            <h3>Joining Date : </h3>
            <h3>Reliving Date : </h3>
        </div>
        <div class="right">
            <h3></h3>
            <h3></h3>
            <h3></h3>
            <h3></h3>
            <h3></h3>
            <h3></h3>
            <h3></h3>
            <h3></h3>
        </div>
    </div>
</body>

