.container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: aqua; */
}
.container .heading h1{
    font-weight: 300;
}
.getdata{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150%;
}
.getdata .id label{
    font-size: 20px;
    margin: 10px;
}
.getdata .id input{
    width: 120px;
    height: 25px;
    padding: 10px;
    border-radius: 30px;
    border: none;
    background-color: #B4B4B4;
}

.getdata .btn button{
    width: 150px;
    height: 40px;
    padding: 5px;
    border-radius: 30px;
    border: none;
    background-color: #020D23;
    color: aliceblue;
    font-size: 16px;
}
.bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
}
.bottom .left h3{ 
    text-align: end;
    margin: 10px;
}
.bottom .right h3{ 
    text-align: end;
    margin: 10px;
}
.btn{
    margin-top: 10px;
    display: grid;
    place-content: center;
}

.btn button{
    width: 250px;
    height: 40px;
    border-radius: 30px;
    border: none;
    background-color: #020D23;
    color: aliceblue;
    text-align: center;
    font-size: 17px;
}