<body>
  <section>
      <div class="container">
          <div class="con_left">
              <img src="assets\login_logo1.jpeg" alt="">
          </div>
          <div class="con_right">
              <div class="headig">
                  <h1>Welcome To Prisoner Registration Portal</h1>
                  
              </div>
              <div class="register">
                  <form action="">
                      <label for="userid">UserID : </label>
                      <input type="text" placeholder="Enter Your UserID" required>
                      <label for="pass">Password : </label>
                      <input type="text" placeholder="********" maxlength="8" required>
                      <div class="btn1">
                          <a><button>Submit</button></a>
                      </div>
                  </form>
              </div>
  
          </div>
      </div>
  </section>
  
</body>
<app-admin-module></app-admin-module>