*{
    margin: 0px;
    padding: 0px;
    font-family: 'Flamenco', cursive;
    overflow: hidden;
}
.container{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    width: 100%;
    padding: -10px;
    
}

.container .con_left{
    width: 35%;
    background-color: #020D23;
    height: 100vh;
    border-radius: 0% 200px 200px 0%;
    display: grid;
    place-content: center;
}
.container .con_left img{
    height: 280px;
    width: 280px;
}

.container .con_right{
    width: 65%;
}

.container .con_right .headig{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size: 25px;
}
.container .con_right .register{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container .con_right .register form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 120px;
    padding: 30px;
    width: 80%;
}

.register form label{
    padding: 10px;margin: 20px;
    font-size: 20px;
    font-weight: 500;
    
}

.register form input{
    width: 50%;
    margin-left: 100px;
    height: 25px;
    padding: 15px; 
    border-radius: 30px;
    border: 0px;
    background-color: #c6c4c4; 
    color: #020D23;
    font-size: 18px;

}

.btn1{
    display:grid;
    place-content: center;
    margin: 80px;

}

.btn1 button{
    padding: 5px;
    height: 50px;
    width: 280px;
    border: 0;
    border-radius: 30px;
    background-color: #020D23;
    color: aliceblue;
    font-size: 20px;
}

