<body>
    <div class="container">
        <div class="heading">
            <h1>Add Details</h1>
            <div style="background-color: black; width: 70%; height: 1.5px;margin: 10px 0px 0px 25px;" class="extra1">
                <img src="" alt="">
            </div><br>
        </div>
        <form [formGroup]="userform" (ngSubmit)="usersubmit()">
            <div class="container_box">
                <div class="name">
                    <div class="id">
                        <label for="id1">ID : </label>
                        <input type="text" placeholder="PID" formControlName="pid">
                    </div>
                    <div class="lname">
                        <label for="lname">Name : </label>
                        <input type="text" name="lname" placeholder="Name" formControlName="name">
                    </div>
                </div>
                <div class="name">
                    <div class="fname">
                        <label for="gender">Gender : <span style="margin-left: 58px;"></span> </label>
                        <select name="gender" formControlName="gender">
                            <option value=""></option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                    <div class="fname">
                        <label for="age">Age : </label>
                        <input type="text" name="age" placeholder="Age" formControlName="age">
                    </div>
                </div>
                <div class="crime">
                    <label for="crime">Crime Committed : </label>
                    <input type="text" name="crime" placeholder="Enter The Crime Committed" formControlName="crime">
                </div>
                <div class="name">
                    <div class="fname">
                        <label for="fname">Joining Date : </label>
                        <input type="text" name="jdate" placeholder="Enter Date" formControlName="jdate">
                    </div>
                    <div class="fname">
                        <label for="lname">Reliving Date : </label>
                        <input type="text" name="rdate" placeholder="Enter Date" formControlName="rdate">
                    </div>
                </div>

            </div>
            <div class="btn">
                <button>Submit</button>
            </div>
        </form>
    </div>
</body>